<% provide(:title, @user.username) %>

<br><br>
<div>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
</div>
<br>


<%= link_to 'Create an Event', new_event_path %><br>
<%= link_to 'Log out', logout_path, method: :delete %>